@import "tailwindcss";

:root {
  --translate: 300px;
  --translate-menu: 0px;
}

body {
  margin: 30px;
}

.translatable {
  translate: var(--translate) 0px;
}

.translate-menu {
  translate: 0px var(--translate-menu);
}

.shadow-inner {
  box-shadow: inset 0px 0px 20px white;
  z-index: -50;
}